<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"

  package="io.dcloud.uni_modules.utsBsfAliyunQueen">

 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
 <uses-permission android:name="android.permission.CAMERA" />
 
 <application>
  <meta-data
  android:name="com.aliyun.alivc_license.licensekey" 
  android:value=""/> 
  <meta-data
  android:name="com.aliyun.alivc_license.licensefile"
  android:value="AliVideoCert-com_byteee_uniappdemo-20250630094102.crt"/> 

 </application>
 
</manifest>